<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org/DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="top.genitalbean.vi.mapper.impl.JobMapper">
    <select id="findByJob" resultType="top.genitalbean.vi.pojo.ViJob" parameterType="java.lang.String">
      SELECT job_id AS jobId,job_name AS jobName,job_remark AS jobRemark FROM vi_job WHERE job_name=#{jobName};
    </select>
    <select id="query" resultType="top.genitalbean.vi.pojo.ViJob">
        SELECT job_id AS jobId,job_name AS jobName,job_remark AS jobRemark FROM vi_job;
    </select>
</mapper>