<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org/DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="interface">
    <select id="queryGroupByAuthority" resultType="top.genitalbean.vi.pojo.AuthorityEntity">
        SELECT authority_name AS authorityName,quantity FROM vi_authority via JOIN
       (SELECT authority_id,COUNT(authority_id) AS quantity
       FROM vi_role GROUP BY authority_id) AS cc ON via.authority_id=cc.authority_id;
    </select>
</mapper>