<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.genitalbean.vi.mapper.impl.ManagerMapper">
	<!--根据用户名和密码查询做登陆-->
	<select id="findByUser" resultType="top.genitalbean.vi.pojo.vo.Manager_Role">
		SELECT user_id AS userId,user_name AS userName,password,phone,email,
		job_name AS jobName,job_remark AS jobRemark,salary,authority_name AS authorityName,
		authority_remark AS authorityRemark,status FROM manager_role 
		WHERE user_name=#{name} AND password=#{password};
	</select>
	<!--根据用户id查询-->
	<select id="findByUserId" resultType="top.genitalbean.vi.pojo.vo.Manager_Role" parameterType="java.lang.String">
		SELECT user_id AS userId,user_name AS userName,password,phone,email,
		job_name AS jobName,job_remark AS jobRemark,salary,authority_name AS authorityName,
		authority_remark AS authorityRemark,status FROM manager_role
		WHERE user_id=#{userId};
	</select>
	<!--查询所管辖范围内的员工-->
	<select id="findByAuthorityId" parameterType="java.lang.Integer" resultType="top.genitalbean.vi.pojo.vo.Manager_Role">
		SELECT mr.user_id AS userId,user_name AS userName,password,phone,email,
       job_name AS jobName,job_remark AS jobRemark,salary,authority_name AS authorityName,
       authority_remark AS authorityRemark,status FROM manager_role mr JOIN vi_role vr ON
       mr.user_id=vr.user_id JOIN (SELECT vr.user_id,va.parent_id FROM vi_role vr JOIN
       vi_authority va ON vr.authority_id=va.authority_id) va ON va.user_id=mr.user_id
        WHERE va.parent_id=#{authorityId};
	</select>
	<!--根据用户id查询权限-->
<select id="queryAuthoirityId" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT authority_id FROM vi_role WHERE user_id=#{userId}
</select>
</mapper>